<div class="document_block">
  <h1><%= @document.title%></h1>
  <iframe src="<%= attachment_url(@document, :document, format: 'pdf') %>" width="400" height="600"></iframe>

</div>

<div class="comment_form_block">

  <%=simple_form_for @client_comment, :url => create_client_comment_path do |f|%>
    <%= f.input :comment%>
    <%= f.button :submit %>
  <% end %>

</div>
