<h1>Assign Users-Roles to Matters</h1>
<h2>Admin Access Only</h2>

<h3>Select Case</h3>

<%=simple_form_for @user_matter do |f|%>
  <%= f.association :matter, label_method: :cause_number, value_method: :id%>
  <%= f.association :user, label_method: :username, value_method: :id %>
  <%= f.association :role%>
  <%= f.button :submit%>
<%end%>
