<h1>Assign Users-Roles to Matters</h1>
<h2>Admin Access Only</h2>

<h3>Select Case</h3>

<%=simple_form_for @user_matter do |f|%>
  <%= f.association :matters, label_method: :cause_number, value_method: :id, as: :check_boxes%>
  <%= f.association :users, label_method: :username, value_method: :id,  as: :check_boxes %>
  <%= f.association :roles,  as: :check_boxes%>
  <%= f.button :submit%>
<%end%>
