<!DOCTYPE html>
<html>
  <head>
    <title>Discovery</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
     <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue_grey-lime.min.css" />
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
  </head>

  <body>
    <!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Discovery</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
      <%if @current_user%>
        <a class="mdl-navigation__link"><%= link_to "Home", root_path%></li>
       <a class="mdl-navigation__link"><%= link_to "Events", new_event_path%></li>
       <a class="mdl-navigation__link"><%= link_to "Documents", new_document_path%></li>
        <a class="mdl-navigation__link"><%= link_to "Sign Out", sign_out_path%></li>


       <%else%>
       <a class="mdl-navigation__link"><%=link_to 'Sign In', sign_in_path%></li>
       <a class="mdl-navigation__link"><%=link_to 'Create Account', new_user_path%></li>
       <%end%>
        </ul>
      </nav>
    </div>
  </header>

  <main class="mdl-layout__content">
    <div class="page-content">
      <%= yield %>
    </div>
  </main>
</div>


  </body>
</html>
